.content_div {
  width: 600px;
  box-shadow: 0px 1px 3px grey;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-left: 30%;
  margin-top: 50px;
}
.content_div button {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.reply_div {
  width: 600px;
  box-shadow: 0px 1px 3px grey;
  align-items: center;
  justify-content: center;
  margin-left: 30%;
}

.reply_div button {
  margin-top: 7px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.write_reply input {
  width: 600px;
  height: 100px;
}
.write_reply button {
  width: 100px;
  height: 100px;
}
.write_reply {
  margin-top: 20px;
  margin-left: 30%;
}
.title_board {
  height: 10%;
  padding-top: 3%;
}
.content_board {
  height: 50%;
  padding-top: 3%;
}
#content_title {
  list-style: none;
}
#content_text {
  list-style: none;
}
#content_content {
  text-align: left;
}

li {
  list-style: none;
  margin-bottom: 5px;
}
